#                                                    **Theoretical Question:**

1. What are data structures, and why are they important?
   - Data structures are ways of organizing and storing data so that it can be accessed and modified effeciently. They are important because they allow us to manage large amount of data in a way that it easier to perform operations like searching, sorting, and etc.

2.  Explain the difference between mutable and immutable data types with examples.?
    - Mutable data types are the data types where object can be change.
        -  Example: list in python are mutable,
        meaning where we can add, remove, modify list.
    
    -  Immutable data types cannot be changed after they are created.
        - Example: tuple = (1, 2, 3) (you can't change tuple after it's created)

3. What are the main differences between lists and tuples in Python?
   - Lists are mutable, meaning you can change, add, or remove items.

   - Tuples are immutable, meaning you cannot change, add, or remove items after creation.

   - Lists are defined with square brackets ([]), while tuples use parentheses (()).

4. Describe how dictionaries store data?
   - Dictionaries store data in key-value pairs. Each key is unique, and it maps to a specific value. You can retrieve the value using the key.
      - Example: name_1 = {'name': 'Jayash', 'age': 22} (Here, 'name' and 'age' are keys, and 'Jayash' and 22 are their corresponding values).

5. Why might you use a set instead of a list in Python?
  - We might use a set instead of a list if you need to store unique items and don’t care about the order of elements. Sets automatically remove duplicates and we can also use concept of frozen set if we want our set to be immutable.
     -  set = {1, 2, 3, 3} (the duplicate 3 will removed in output).

6. What is a string in Python, and how is it different from a list?
  -  A string in Python is a sequence of characters. Unlike a list, a string is immutable, meaning we can't modify its characters after it’s created.
     - Example: string = "Hello Jay" (we can't change individual characters like string[0] = "H" unlike list).

7.  How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity by being immutable. Once created, their data cannot be modified, which means the data remains consistent and protected from accidental changes.

8.  What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores key-value pairs and uses a hash function to quickly access values by their keys. In Python, dictionaries are implemented using hash tables, which makes lookups very fast.

9. Can lists contain different data types in Python?
  - Yes, lists in Python can contain items of different data types.

     - Example: list = [1, "hello", 3.14] a list with an integer, a string, and a float.

10. Explain why strings are immutable in Python?
  - Strings are immutable because they are designed to be more efficient in memory usage and faster when used frequently. If strings were mutable, it would lead to more overhead in memory management.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries provide faster lookups for retrieving values based on keys, while lists are slower because they require searching through all elements to find a value.

      - Dictionaries are better when we need to map data to unique keys, while lists are better when the order of elements matters

12. Describe a scenario where using a tuple would be preferable over a list?
   -   We might prefer a tuple over a list when you need to store data that should not be changed (like coordinates of a point). Since tuples are immutable, they ensure that the data remains constant.

       - Example: Storing a fixed set of configuration settings in a tuple.

13. How do sets handle duplicate values in Python?
    -   Sets automatically remove duplicate values. If you try to add a duplicate item, it won't be added to the set.

      - Example: set = {1, 2, 2, 3} o/p: {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
   - For lists, the in keyword checks if an element exists in the list.

       - Example: 3 in [1, 2, 3] returns True.

    - For dictionaries, the in keyword checks if a key exists in the dictionary.

        - Example: 'name' in {'name': 'Jayash'} returns True.

15. Can you modify the elements of a tuple? Explain why or why not?
   - No, we cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its data cannot be changed.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary where the values themselves are dictionaries. This is useful for representing more complex data structures.
       
       - nested_dict = {
    'person1': {'name': 'Jayash', 'age': 22},
    'person2': {'name': 'seeya', 'age': 21}
}

17.  Describe the time complexity of accessing elements in a dictionary?
    - Accessing an element in a dictionary is O(1), meaning it takes constant time regardless of the size of the dictionary. This is because dictionaries use hash tables, allowing for fast lookups by key.and we can direcly access the value using key unlike list.

18. In what situations are lists preferred over dictionaries?
   - Lists are preferred when:

        - The order of elements matters.

        - we need to store multiple values of the same type without the need for unique keys.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because they do not maintain the order of elements (until Python 3.7, where insertion order is maintained). This means the order of keys/values might not be the same as when they were added. However, this doesn't affect data retrieval, as dictionaries use keys to access values, not their position.

20.   Explain the difference between a list and a dictionary in terms of data retrieval?
      - In a list, data is retrieved based on index (position in the list).

      - In a dictionary, data is retrieved based on key (unique identifiers). Dictionaries are faster for looking up values because they use hashing for fast lookups.

# **Practical Questions**

In [1]:
# 1 Write a code to create a string with your name and print it
name= "Jayash Warbhe"
print(name)

Jayash Warbhe

In [2]:
# 2 Write a code to find the length of the string "Hello World"
a= "Hello World"
print(len(a))

11

In [6]:
# 3 Write a code to slice the first 3 characters from the string "Python Programming"
a ="Python Programming"
print(a[0:3])

Pyt

In [7]:
# 4 Write a code to convert the string "hello" to uppercase
j = "hello"
j.upper()

'HELLO'

In [8]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = " I like apple"
a.replace("apple", "orange")

' I like orange'

In [9]:
#6 Write a code to create a list with numbers 1 to 5 and print it
a=[]
for i in range(1,6):
  a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [10]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [12]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4,5]
a =[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4]

In [14]:
#9Write a code to access the second element in the list ['a', 'b', 'c', 'd']
s = ['a','b','c','d']
print(s[1])

b

In [20]:
#10Write a code to reverse the list [10, 20, 30, 40, 50].
a = [10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [21]:
# 11  Write a code to create a tuple with the elements 100, 200, 300 and print it.
a = (100, 200, 300)
print(a)

(100, 200, 300)

In [24]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
a = ('red', 'green', 'blue', 'yellow')
c= a[1:]
print(c)

('green', 'blue', 'yellow')

In [25]:
# 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a = (10, 20, 5, 15)
min(a)

5

In [28]:
# 14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
a = ('dog', 'cat', 'rabbit')
a.index("cat")

1

In [29]:
# 15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
a = ("apple", "orange","kiwi")
"kiwi" in a

True

In [31]:
# 16  6. Write a code to create a set with the elements 'a', 'b', 'c' and print it
a = {'a','b',"c"}
print(a)
print(type(a))

{'c', 'b', 'a'}
<class 'set'>

In [33]:
# 17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a = {1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [34]:
# 18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a = {1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [38]:
# 19 . Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a= {1,2,3}
b= {3,4,5}
c= a.union(b)
c

{1, 2, 3, 4, 5}

In [40]:
# 20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a= {1,2,3}
b={2,3,4}
c= a.intersection(b)
print(c)

{2, 3}

In [41]:
# 21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it
a={"name": "Jayash",
   "age":22,
   "city":"Nagpur"}
print(a)

{'name': 'Jayash', 'age': 22, 'city': 'Nagpur'}

In [43]:
# 22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
a={"country":"USA"}
b={"name":"John","age":25}
a.update(b)
print(a)

{'country': 'USA', 'name': 'John', 'age': 25}

In [46]:
# 23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'A
a={'name': 'Alice', 'age': 30}
print(a['name'])

Alice

In [49]:
# 24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
a={'name': 'Bob', 'age': 22, 'city': 'New York'}
a.pop("age")
print(a)

{'name': 'Bob', 'city': 'New York'}

In [50]:
 # 25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
a= {'name': 'Alice', 'city': 'Paris' }
"city" in a

True

In [57]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3]
t= (1,2,3)
d={"Name":"Jayash","age":22}
print(f"list = {list}, tuple= {t}, Dictionary={d}")

list = [1, 2, 3], tuple= (1, 2, 3), Dictionary={'Name': 'Jayash', 'age': 22}

In [75]:
#  27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#  result.(replaced)
import random
random_numbers = [random.randint(1, 100) for i in range(5)]

random_numbers.sort()

print(random_numbers)

[22, 41, 53, 72, 96]

In [76]:
# 28  Write a code to create a list with strings and print the element at the third index.
list = ["apple", "banana", "orange", "kiwi", "mango"]
print(list[3])

kiwi

In [77]:
# 29. Write a code to combine two dictionaries into one and print the result
a={"Name":"Jayash","Age":22}
b={"City":"Nagpur","Country":"India"}
a.update(b)
print(a)

{'Name': 'Jayash', 'Age': 22, 'City': 'Nagpur', 'Country': 'India'}

In [78]:
# 30 Write a code to convert a list of strings into a set
list = ["apple", "banana", "orange", "kiwi", "mango"]
set(list)

{'apple', 'banana', 'kiwi', 'mango', 'orange'}